footer {
    grid-area: footer;
    display: flex;
    background-color: $color-primary;
    color: $color-white;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    font-weight: bold;
    min-height: 50px;
}