header {
    grid-area: header;
    display: flex;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

nav {
    color: $color-white;
    padding: 1rem;

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
    }

    a {
        color: $color-white;
        text-decoration: none;
    }
}